project:
  type: book
  output-dir: _book
  preview:
    port: 5896
    browser: true
  render:
    - "*.qmd"
  resources:
    - "data/"
    - "images/"
    - "figs/"

book:
  title: "Yet Another R Dataviz Book"
  reader-mode: true
  author:
    - "John Paul Helveston"
    - "Lola Nurullaeva"
  date: "08/01/2024"
  page-footer:
    left: |
      Yet Another R Dataviz Book was written by John Paul Helveston & Lola Nurullaeva
    right: |
      This book was built with <a href="https://quarto.org/">Quarto</a>.
  cover-image: cover.png
  favicon: cover.png
  site-url: https://yardbook.jhelvy.com/
  repo-url: https://github.com/jhelvy/yardbook/
  repo-branch: main
  repo-actions: [edit, issue]
  sidebar:
    background: "light"

  chapters:
    - index.qmd
    - part: part1-getting-started.qmd
      chapters:
        - quarto.qmd
        - ggplot.qmd
    - part: part2-exploring.qmd
      chapters:
        - tidy-data.qmd
        - cleaning-data.qmd
        - good-practices.qmd
    #     - summarizing-data.qmd
    # - part: part3-data-viz.qmd
    #   chapters:
    #     - effective-data-viz.qmd
    #     - trends.qmd
    #     - amounts.qmd
    #     - prop.qmd
    #     - comparisons.qmd
    #     - maps.qmd
    #     - scales.qmd
    #     - aesthetics.qmd
    #     - anim.qmd
    #     - interact.qmd
    
execute:
  freeze: auto

format:
  html:
    theme:
      - cerulean
      - style.css
    code-link: true
    css: styles.css

    author-meta: "John Paul Helveston"
    callout-appearance: simple
